[submodule "GCN-for-Structure-and-Function"]
	path = GCN-for-Structure-and-Function
	url = https://github.com/stamakro/GCN-for-Structure-and-Function.git
[submodule "UniRep"]
	path = UniRep
	url = https://github.com/churchlab/UniRep.git
